<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | absolute_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Contact</li>
          {%- if site.email -%}
            <li>
              <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
          {%- endif -%}
		  <li>
			<a class="u-email" href="mailto:sidneys1@proton.me">sidneys1@proton.me</a>
		  </li>
		  <li>
			<a class="u-email" href="https://simplex.chat/contact#/?v=1-2&smp=smp%3A%2F%2FSkIkI6EPd2D63F4xFKfHk7I1UGZVNn6k1QWZ5rcyr6w%3D%40smp9.simplex.im%2FQwoc8ketLODmigLCuVhCt8Eio_ruJFnj%23%2F%3Fv%3D1-2%26dh%3DMCowBQYDK2VuAyEAtEpK9f8ocpGt_MYmDVj0FrCIorSk7PSIVI-BmxLHUHE%253D%26srv%3Djssqzccmrcws6bhmn77vgmhfjmhwlyr3u7puw4erkyoosywgl67slqqd.onion">
				SimpleX Chat
			</a>
		  </li>
		  <li class="p-name" style="margin-top: 1em;">Alternative Access</li>
			<li>
			<a href="http://pa6stp7ojipm64l7d3d3ebkcq57sfzq365po7k4enajgaprnefzeygid.onion/">
			  <img class="svg-icon" alt="Tor Logo" style="opacity: 50%; width: 26px; height: 16px;" width="26px" height="16px" src="{{ "/assets/tor.svg" | absolute_url }}"></img>
			  <span>Sidneys1.com on Tor</span>
			</a>
		  </li>
		  <li>
			  <a href="https://ipfs.io/ipns/sidneys1.com">
				  <img class="svg-icon" alt="IPFS Logo" style="opacity: 50%; width: 26px; height: 16px;" width="16px" height="16px" src="{{ "/assets/ipfs.svg" | absolute_url }}"></img>
				  <span>Sidneys1.com on IPFS</span>
			  </a>
		  </li>
		  <li>
			<a href="https://sidneys1.github.io">
				<img class="svg-icon" alt="GitHub Logo" style="opacity: 50%; width: 26px; height: 16px;" width="16px" height="16px" src="{{ "/assets/github.svg" | absolute_url }}"></img>
				<span>Sidneys1.com on GitHub Pages</span>
			</a>
		</li></ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
