---
---
@charset "utf-8";

/*** Base Minima theme. ***/
@use "theme";

/*** Additional colors. ***/
@use "colors";

/*** User-selectable themes. ***/
@use "user-theme" with (
    $od-font-path: "{{ "/assets/OpenDyslexic3-Regular.otf" | absolute_url }}",
    $od-mono-font-path: "{{ "/assets/OpenDyslexicMono-Regular.otf" | absolute_url }}"
);

/*** Home customization rules. ***/
@use "home";

/*** Header customization rules. ***/
@use "header";

/*** Post layout rules. ***/
@use "post";

/*** Markdown customization rules. ***/
@use "markdown";

/*** Misc widgets. ***/
@use "widgets";

/*** Footer customization rules. ***/
@use "footer";

// /*** Footer snowflake. ***/
// @use "snowflake";

/*** Syntax highlighting. ***/
@import "monokai";

:root {
    color-scheme: light dark;
}

body {
    display: block;
}
