---
---
@charset "utf-8";

@use "sass:color";
// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;
$brand-color-compliment: adjust-hue($brand-color, 180) !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$grey-color-lightish:  lighten($grey-color, 20%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout"//,
//   "minima/syntax-highlighting"
;

@import url(monokai.css);

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Sections";
    font-weight: bolder;
	font-variant-caps: small-caps;
}

#markdown-toc {
	margin-left: 0;
	li {
		margin-left: 1em;
	}
}

figure {
	background-color: $grey-color-light;
	border-radius: 1em;
	padding: 1em;
	blockquote {
		border-left-color: $grey-color-lightish;
	}
}

blockquote {
	max-width: fit-content;
	cite {
		display: block;
		font-size: small;
		text-align: right;
		code {
			font-size: small;
			background-color: initial;
			border: none;
			padding: initial;
		}
	}
}

blockquote cite::before {
	content: "—";
	font-size: small;
	margin-right: 1ex;
}

details {
	margin-bottom: 15px;
}

details.snowflake {
	> summary {
		// font-size: larger;

		> div {
			display: inline-flex;
			align-items: baseline;
			img.snowflake {
				opacity: 50%;
				height: 1em;
				margin-right: 4px;
				position: relative;
				top: 2px;
			}
		}
	}
	blockquote {
		font-size: 15px;
		margin-left: 3px;
	}
	button#load-snowflake {
		background: none!important;
		border: none;
		padding: 0!important;
		/*optional*/
		font-family: arial, sans-serif;
		/*input has OS specific font-family*/
		color: $brand-color;
		// text-decoration: underline;
		cursor: pointer;
		font-size: larger;
	}
	button#load-snowflake:hover {
		color: #111;
		text-decoration: underline;
	}
	iframe#snowflake-iframe {
		margin: 0 auto;
	}
}

.site-header .wrapper {
	display: flex;
	align-items: center;
	.coffee {
		flex-grow: 1;
		text-align: center;

		img {
			opacity: 50%;
			transition: 250ms linear;
		}
		img:hover {
			opacity: 100%;
			transition: 250ms linear;
		}
	}
}

.donate {
	text-align: center;
	img {
		max-height: 50px;
		opacity: 75%;
		transition: 250ms linear;
	}
	img:hover {
		opacity: 100%;
		transition: 250ms linear;
		cursor: pointer;
	}
}

.tag {
    font-size: small;
    // border: 1px solid black;
    // background-color: lightcyan;
    // border-radius: 0.5em;
    // padding: 0 0.5em;
    // padding-bottom: 0.25em;
}

.tag::before {
    content: "#";
}

.toc__list:before {
    content: "Table Of Contents";
    font-weight: bold;
    font-size: 1rem;
   }

.toc__list {
    border-radius: 4px;
    line-height: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
    margin: 0 0 30px 0;
    // box-shadow: 0px 0px 10px #00000033;
    // transition: 250ms linear;
}

// .toc__list:hover {
//     box-shadow: 0px 0px 10px #00000066;
//     transition: 250ms linear;
// }

.toc__sublist li {
    padding-left: 1.25rem;
}

.toc-h2:first-child {
    // margin-top: 1rem;
}

#toc a {
    color: #BE185D;
    text-decoration: underline;
}

#toc a:hover {
    color: #9D174D;
}

h1.post-title {
	font-weight: 100;
}

h2.post-title {
	font-size: 20px;
	line-height: 1;
}

ul.post-list > li::after {
	content: "";
	display: block;
	clear: both;
}

ul.post-list ul {
	clear: both;
}

ul.post-list h3 {
	margin-bottom: 0;
	line-height: 1.25;
	a {
		margin-bottom: 1ex;
		margin-right: 1ex;
	}
}
ul.post-list h4 {
	font-weight: bolder;
	margin-bottom: 0;
	line-height: 1.25;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace,Consolas,monospace;
    line-height: 10px;
    color: var(--color-fg-default);
    vertical-align: middle;
    background-color: rgb(247, 245, 242);
    border: solid 1px rgb(198, 187, 177);
    border-bottom-color: rgb(198, 187, 177);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgb(198, 187, 177);
    overflow-wrap: break-word;
}

div.note {
	background-color: #ffc;
    font-size: smaller;
    width: fit-content;
    max-width: 400px;
    color: $grey-color;
    margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #00000033;
    transition: 250ms linear;
	.note-title {
		font-size: larger;
		font-family: "MV Boli", cursive;
		background-color: rgb(234, 234, 169);
		padding: 0.25em 1em;
		border-radius: 5px 5px 0 0;
	}
    > p {
		padding: 1em;
        margin-bottom: 0em;
    }
	> details {
		padding: 1em;
        margin-bottom: 0em;
		summary {
			// display: flex;
			// align-items: center;
			text-align: center;
		}
		summary::marker {
			// display: block;
		}
	}
    > legend {
        color: $text-color;
        font-style: italic;
        font-size: initial;
    }
	code {
		background-color: rgb(234, 234, 169);
	}
}

div.note-wide {
	max-width: 600px;
}

div.note:hover {
	box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

.post-excerpt {
    > img {
        max-height: 150px;
        object-fit: cover;
        margin-right: 1em;
		width: 250px;
		float:left;
    }
}

.post-image {
    border-radius: 4px;
    margin: 0 0 30px 0;
    text-align: center;
    > img {
        box-shadow: 0px 0px 10px #00000033;
        transition: 250ms linear;
		max-height: 600px;
    }
}

.post-image > img:hover {
    box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

.post-content img {
    box-shadow: 0px 0px 10px #00000033;
    transition: 250ms linear;
    margin: 0 auto;
    display: block;
}

.post-content img[align="left"] {
	margin-right: 1em;
}

.post-content img:hover {
    box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

.post-content pre {
    box-shadow: 0px 0px 10px #00000033;
    transition: 250ms linear;
}

.post-content pre:hover {
    box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

pre.highlight {
    border-radius: 5px;
	tab-size: 4;
}

.language-diff {margin-top: -1em;}
.language-diff::before {
    content: '.diff';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}

.language-make {margin-top: -1em;}
.language-make::before {
    content: 'Makefile';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}

.language-cpp {margin-top: -1em;}
.language-cpp::before {
    content: '.cpp';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}

.language-c {margin-top: -1em;}
.language-c::before {
    content: '.c';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}

.language-powershell {margin-top: -1em;}
.language-powershell::before {
    content: '.ps1';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}

.language-c\+\+ {margin-top: -1em;}
.language-c\+\+::before {
    content: '.cpp';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}

.language-ini {margin-top: -1em;}
.language-ini::before {
    content: '.ini';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}

div.popunder {
	text-align: center;
	em {
		font-size: x-small;
		color: grey;
	}
}

dialog.popover {
	max-width: 90%;
	max-height: 90%;
	border: none;
	background: transparent;
	button.close {
		float:right;
		background: none;
		border: none;
		:focus {
			outline: none;
		}
	}
}

dialog.popover::backdrop {
	background: rgba(0,0,0,.25);
	backdrop-filter: blur(5px);
}

img.pop-in {
	cursor: zoom-out;
}

img.pop {
	max-height: 250px;
	cursor: zoom-in;
}

img.pop-in {
	max-height: 90%;
	max-width: 90%;
}

li.anchor {
	padding-left: 1em;
}

li.anchor:target {
	font-weight: bolder;
}

li.anchor:target::before {
	content: "⚓";
	position: absolute;
	margin-left: -1.5em;
}

div.series {
	// text-align: center;
	// margin-top: 0px;
	font-size: 14px;
	// font-style: italic;
	color: #828282;
	a {
		font-style: italic;
	}
}

div.erratum-notice {
	font-size: 14px;
	color: #828282;
	font-style: italic;
}

div.multipart {
	// text-align: center;
	// margin-top: 0px;
	font-size: 14px;
	// font-style: italic;
	color: #828282;
	a {
		font-style: italic;
	}
	ul {
		margin-bottom: 0;
	}
}

div.multipart.center {
	margin-left: auto;
	margin-right: auto;
	// width: max-content
}

$card-shadow-blur: 5px;
$card-shadow-color: #00000033;
$card-transform-shadow-color: transparentize($card-shadow-color, 0.1);
$card-transform-shadow-blur: 7px;
$card-transform-time: .5s;
$card-transform-distance: .2em;

div.card {
	margin: 0 20% 30px 20%;
	padding: 1em 2em;
	border-radius: 4px;
	border: 1px solid $grey-color;
	box-shadow: 0px 0px $card-shadow-blur $card-shadow-color;
	&.float {
		transition: box-shadow $card-transform-time ease-in-out, transform $card-transform-time ease-in-out;
		&:hover, &:active {
			transform: translate(0, -$card-transform-distance);
			box-shadow: 0 $card-transform-distance $card-transform-shadow-blur $card-transform-shadow-color;
		}
	}
	:last-child {
		margin-bottom: 0;
	}
	:first-child {
		margin-top: 0;
	}
}

dl {
	margin-bottom: 1em;
	dt:first-child {
		margin-top: 0;
	}
}

dt + dt {
	margin-top: 0;
}

dd + dt {
	margin-top: 2em;
}

dt {
	font-family: sans-serif;
	// margin-top: 2em;
	font-weight: bold;
	vertical-align: text-top;
	line-height: 1.2;
	> em:first-child {
		font-size: 200%;
		vertical-align: middle;
		// line-height: 2;
		font-style: normal;
	}
	// font-style: italic;
	ruby {
		font-family: serif;
		font-weight: lighter;
		font-size: 150%;
		ruby-position: under;
		> rt {
			margin-bottom: .5em;
			opacity: 50%;
			font-size: 60%;
			font-style: normal;
			transition: opacity 0.25s ease-in-out;
		}
		> rt:hover, > rt:active {
			opacity: 100%;
			transition: opacity 0.25s ease-in-out;
		}
	}
}
dd {
	// text-indent: 1em hanging;
	padding-left: 2em;
	text-indent: -1em;
	// font-size: smaller;
	> strong:first-child {
		// text-transform: uppercase;
		font-variant-caps: all-small-caps;
		// margin-left: 1em;
		// display: list-item;
		// list-style-type: disc;
		// display: block;
	}
}

.image-compare {
	--splitter-color: black;
	--splitter-size: 0.125rem;
	--expand: 0.875rem;
	--handle-size: calc(var(--expand) + var(--splitter-size));
	position: relative;
}
.image-compare span {
	display: block;
	position: absolute;
	top: 0;
	left: calc(-1 * var(--expand));
	bottom: calc(-1 * var(--expand));
	width: calc(var(--expand) + 50% + var(--splitter-size) / 2);
	max-width: calc(var(--expand) + 100%);
	min-width: var(--handle-size);
	padding-left: var(--expand);
	padding-bottom: var(--expand);
	// background: linear-gradient(135deg, transparent 0, transparent 50%, var(--splitter-color) 50%, var(--splitter-color)) 100% 100% / var(--handle-size) var(--handle-size) no-repeat;
	resize: horizontal;
	overflow: hidden;
}
.image-compare img {
	display: block;
	height: 100%;
	user-select: none;
	max-width: initial;
}
.image-compare > img {
	max-width: 100%;
	height: auto;
}
.image-compare span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: var(--expand);
	border-right: var(--splitter-size) solid var(--splitter-color);
}

figure.compare {
	display: flex;
	justify-content: center;
}

.c-compare {
	--h: 9;
	--m: 1rem 0;
	--w: 16;
	--thumb-bgc: grey;
	--thumb-bgc-focus: hsla(50%, 50%, 50%, 0.7);
	--thumb-w: 0.25rem;

	margin: var(--m);
	position: relative;
	margin-block-end: 0;
	margin-bottom: 20px;
  }
  .c-compare::after {
	content: "";
	display: block;
	padding-bottom: calc((var(--h) / var(--w)) * 100%);
  }
  .c-compare__left,
  .c-compare__right {
	height: 100%;
	object-fit: cover;
	position: absolute;
	width: 100%;
  }
  .c-compare__left {
	clip-path: polygon(0% 0%, var(--value) 0%, var(--value) 100%, 0% 100%);
  }
  .c-compare__right {
	clip-path: polygon(100% 0%, var(--value) 0%, var(--value) 100%, 100% 100%);
  }
  .c-compare__range {
	background-color: transparent;
	box-sizing: border-box;
	font-family: inherit;
	margin: 0;
	outline: none;
	// display: block;
	position: absolute;
	top: 100%;
	// height: 100%;
	width: 100%;
  }
//   .c-compare__range::-moz-range-thumb {
// 	background-color: var(--thumb-bgc);
// 	cursor: ew-resize;
// 	height: 100%;
// 	width: var(--thumb-w);
// 	box-shadow: 0 0 3px 0 var(--thumb-bgc);;
//   }
//   .c-compare__range::-webkit-slider-thumb {
// 	background-color: var(--thumb-bgc);
// 	cursor: ew-resize;
// 	height: 100%;
// 	width: var(--thumb-w);
// 	box-shadow: 0 0 3px 0 var(--thumb-bgc);;
//   }
//   .c-compare__range:focus::-webkit-slider-thumb {
// 	background-color: var(--thumb-bgc-focus);
// 	box-shadow: 0 0 0 3px var(--thumb-bgc);
//   }
//   .c-compare__range:focus::-moz-range-thumb {
// 	background-color: var(--thumb-bgc-focus);
// 	box-shadow: 0 0 0 3px var(--thumb-bgc);
//   }
//   .c-compare__range::-moz-range-track {
// 	background: transparent;
// 	background-size: 100%;
// 	box-sizing: border-box;
//   }
//   .c-compare__range::-webkit-slider-runnable-track {
// 	background: transparent;
// 	background-size: 100%;
// 	box-sizing: border-box;
// 	height: 100%;
//   }
//   .c-compare__range,
//   .c-compare__range::-webkit-slider-runnable-track,
//   .c-compare__range::-webkit-slider-thumb {
// 	-webkit-appearance: none;
// 	appearance: none;
//   }

figure figcaption {
	text-align: center;
}

p.c-compare {
	border-radius: 4px;
	img {
		border-radius: 4px;
	}
	box-shadow: 0px 0px 10px #00000033;
	transition: 250ms linear;
	max-height: 600px;
}

p.c-compare:hover {
    box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

.slight {
	color: $grey-color;
	font-style: italic;
	font-size: small;
}

hr {
	height: 1px;
	border: none;
	border-top: 1px solid #e8e8e8;
	margin: 1em 0;
}

#erratum li {
	font-style: italic;
}

summary {
	cursor: pointer;
}

#mastodon-logo:first-of-type(path) {
	fill: green;
}

.pill {
	background-color: $brand-color;
	border: 2px solid $brand-color;
	border-radius: 1em;
	color: white;
	padding: 0 0.5ex;
	font-weight: initial;
	font-size: x-small;
	vertical-align: middle;
	margin-right: 1ex;
	margin-bottom: 1ex;
}

.pill.clickable:hover {
	cursor: pointer;
	box-shadow: 0px 0px 5px rgba(black, 0.5);
	transition: 250ms linear;
	color: white;
	text-decoration: none;
}

.pill.clickable:visited {
	color: white;
}

.pill.multipart {
	background-color: $brand-color-compliment;
	border-color: $brand-color-compliment;
}

// @media screen and (max-width: 600px)
#nav-placeholder {
	@include media-query($on-palm) {
		width: 36px;
		height: 36px;
	}
}
