--- 
--- 
@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout"//,
//   "minima/syntax-highlighting"
;

@import url(monokai.css);

.tag {
    font-size: small;
    // border: 1px solid black;
    // background-color: lightcyan;
    // border-radius: 0.5em;
    // padding: 0 0.5em;
    // padding-bottom: 0.25em;
}

.tag::before {
    content: "#";
}

.toc__list:before {
    content: "Table Of Contents";
    font-weight: bold;
    font-size: 1rem;
   }

.toc__list {
    border-radius: 4px;
    line-height: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px #00000033;
    transition: 250ms linear;
}

.toc__list:hover {
    box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

.toc__sublist li {
    padding-left: 1.25rem;
}

.toc-h2:first-child {
    // margin-top: 1rem;
}

#toc a {
    color: #BE185D;
    text-decoration: underline;
}

#toc a:hover {
    color: #9D174D;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace,Consolas,monospace;
    line-height: 10px;
    color: var(--color-fg-default);
    vertical-align: middle;
    background-color: rgb(247, 245, 242);
    border: solid 1px rgb(198, 187, 177);
    border-bottom-color: rgb(198, 187, 177);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgb(198, 187, 177);
    overflow-wrap: break-word;
}

fieldset.note {
    font-size: smaller;
    border: 0;
    border-radius: 0.5em;
    border-left: 2px groove $grey-color-light;
    border-right: 2px groove $grey-color-light;
    width: fit-content;
    max-width: 800px;
    color: $grey-color;
    margin: 0 auto;
    > p {
        margin-left: 1em;
        margin-bottom: 0em;
    }
    > legend {
        color: $text-color;
        font-style: italic;
        font-size: initial;
    }
}

.post-excerpt {
    > img {
        max-height: 150px;
        object-fit: cover;
        margin-right: 1em;
    }
}

.post-image {
    border-radius: 4px;
    margin: 0 0 30px 0;
    text-align: center;
    > img {
        box-shadow: 0px 0px 10px #00000033;
        transition: 250ms linear;
    }
}

.post-image > img:hover {
    box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

.post-content img {
    box-shadow: 0px 0px 10px #00000033;
    transition: 250ms linear;
    margin: 0 auto;
    display: block;
}

.post-content img:hover {
    box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

.post-content pre {
    box-shadow: 0px 0px 10px #00000033;
    transition: 250ms linear;
}

.post-content pre:hover {
    box-shadow: 0px 0px 10px #00000066;
    transition: 250ms linear;
}

pre.highlight {
    border-radius: 5px;
}

.language-diff {margin-top: -1em;}
.language-diff::before {
    content: '.diff';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}

.language-cpp {margin-top: -1em;}
.language-cpp::before {
    content: '.cpp';
    color: #f8f8f2;
    font-size: x-small;
    font-family: monospace;
    background-color: #272822;
    border-radius: 0.5em;
    padding: 0 0.25em;
    position: relative;
    top: 1em;
    left: 1em;
}