---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
		<h2 class="post-title p-name">{{ page.subtitle | escape }}</h1>
		{%- if page.series -%}
		<div class="series">This post is part of a series: <a href="{{ "/series.html" | absolute_url }}#{{ page.series
				| slugify }}">{{ page.series | escape }}</a></div>
		{%- endif -%}
		{%- if page.erratum -%}
		<div class="erratum-notice">This post has <a href="#erratum">erratum</a>.</div>
		{%- endif -%}
		<p class="post-meta">
			<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
				{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
				{{ page.date | date: date_format }}
			</time>
			{%- if page.author -%}
			• <span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
			{%- endif -%}
			{%- if page.tags -%}
			{%- for tag in page.tags -%}
			&nbsp;•&nbsp;<a href="{{ "/tags.html" | absolute_url }}#{{ tag | slugify }}" style="display: inline;"
				class="tag">{{ tag | slugify }}</a>
			{%- endfor -%}
			{%- endif -%}
		</p>
		{%- if page.multipart -%}
		<div class="multipart">
			<em>This post has multiple parts:</em>
			<ul>
				{% assign my_counter = 1 %}
				{% for post in site.posts reversed %}
					{% if post.multipart == page.multipart %}
						{% if post.url != page.url %}
							<li><a href="{{ post.url | absolute_url}}">{{post.title}}{% if post.subtitle %} &ndash; {{post.subtitle | escape}}{% endif %}</a> (Part {{my_counter | roman}})</li>
						{% else %}
							<li style="list-style-type: disclosure-closed;"><em>{{ post.title | escape }}{% if post.subtitle %} &ndash; {{post.subtitle | escape}}{% endif %}</em> (Part {{my_counter | roman}})</li>
						{% endif %}
						{% assign my_counter = my_counter | plus: 1 %}
					{% endif %}
				{% endfor %}
				{% if my_counter == 2 %}
					<li class="slight">More to come...</li>
				{% endif %}
			</ul>
		</div>
		{%- endif -%}
	</header>

	{%- if page.image -%}
	<div class="post-image{% if page.image_float == true %} post-image-float{% endif %}"><img src="{{ page.image | absolute_url }}" style="{% if page.image_shadow == false %}box-shadow: none;{% endif %}"></div>
	{%- endif -%}

	<!-- <div class="post-toc"> -->
	{% toc %}
	<!-- </div> -->

	<div class="post-content e-content{% if page.hanging %} hanging{% endif %}" itemprop="articleBody">
		{{ content }}
	</div>

	{% if page.erratum %}
		<hr/>
		<details id="erratum">
			<summary>Erratum</summary>
			<ul>
				{% for erratum in page.erratum %}
					<li>{{erratum}}</li>
				{% endfor %}
			</ul>
		</details>
	{% endif %}

	{%- if page.multipart -%}
	<hr style="clear:both;"/>
	<div class="multipart center">
		<em>This post has multiple parts:</em>
		<ul>
			{% assign my_counter = 1 %}
			{% for post in site.posts reversed %}
				{% if post.multipart == page.multipart %}
					{% if post.url != page.url %}
						<li><a href="{{ post.url | absolute_url}}">{{post.title}}{% if post.subtitle %} &ndash; {{post.subtitle | escape}}{% endif %}</a> (Part {{my_counter | roman}})</li>
					{% else %}
						<li style="list-style-type: disclosure-closed;"><em>{{ post.title | escape }}{% if post.subtitle %} &ndash; {{post.subtitle | escape}}{% endif %}</em> (Part {{my_counter | roman}})</li>
					{% endif %}
					{% assign my_counter = my_counter | plus: 1 %}
				{% endif %}
			{% endfor %}
			{% if my_counter == 2 %}
				<li class="slight">More to come...</li>
			{% endif %}
		</ul>
	</div>
	{%- endif -%}

	{%- if site.mode == "www" or site.mode == "local-prod" -%}
	<hr style="clear:both;">
	<section id="comments" data-url="{{ page.mastodon_comment_url }}">
		<h2>Comments from Mastodon <span id="stats"></span></h2>
		{% if page.mastodon_comment_url -%}
		<p>
			You can leave a comment by replying to <a target="_blank" href="{{ page.mastodon_comment_url }}">this
			Mastodon post</a> from any ActivityPub-capable social network that can exchange replies with Mastodon.
		</p>
		<noscript><p class="disabled">Scripts are disabled.</p></noscript>
		<template><article class="comment">
			<div class="avatar"><img class="avatar"></div>
			<div class="header">
				<a class="user"><span class="displayname"></span><span class="handle"></span></a>
				<a target="_blank" class="link"><span class="timestamp"></span></a>
			</div>
			<div class="content"></div>
			<div class="tidbits"></div>
		</article></template>
		{%- else -%}
		<p class="disabled">This post has not had comments enabled (yet).</p>
		{%- endif -%}
		<p id="comment-credit" class="disabled">Comment support inspired by <a href="https://blaede.family/@cassidy" target="_blank">Cassidy James <span class="social-handle">(@cassidy@blaede.family)</span></a> and some code borrowed from <a target="_blank" href="https://fietkau.social/@julian">Julian Fietkau <span class="social-handle">(@julian@fietkau.social)</span></a>.</p>
	</section>
	<section id="webmention">
		<h2>Webmentions <span id="webmention-stats"><span>♥️{% webmention_count page.url likes %}</span></span></h2>
		{% webmentions page.url %}
		<p id="webmention-comment-credit" class="disabled">Webmention support enabled by <a href="https://webmention.io" target="_blank">webmention.io</a> and <a href="https://aarongustafson.github.io/jekyll-webmention_io/" target="_blank">Webmentions for Jekyll</a>.</p>
	</section>
	{%- endif -%}

	<a class="u-url" href="{{ page.url | absolute_url }}" hidden></a>
</article>
{% webmentions_js %}
